.header {
	position: absolute;
	background-color: black;
	height: 70px;
	left: 0;
	width: 100%;
	top: 0;
	border: none;
}

.main {
  position: absolute;
  background-image: url("images/background-profile.jpeg");
  bottom: 50px;
  top: 70px;
  width: 100%;
  left: 0;
  border: none;
}

.footer {
  position: absolute;
  background-color: black;
  width: 100%;
  height: 50px;
  top: calc(100% - 50px);
  left: 0;
  border: none;
}

.logo {
	position: absolute;
	height: 70px;
}

.avatar {
	position: fixed;
	height: 50px;
	right: 20%;
	margin-top: 10px;
}

.management {
	position: fixed;
	display: block;
	color: white;
	left: 86%;
	margin-top: 27px;
}

.logout {
	position: fixed;
	display: block;
	color: white;
	left: 95%;
	margin-top: 27px;
}

/*---------search bar-----------*/
.search {
	border-radius: 5px;
	margin-top: 20px;
}

