.header {
	position: absolute;
	background-color: black;
	height: 70px;
	left: 0;
	width: 100%;
	top: 0;
	border: none;
  display: flex;
  flex-direction: row;
}

.main {
  position: absolute;
  background-image: url("images/background-profile.jpeg");
  bottom: 50px;
  top: 70px;
  width: 100%;
  left: 0;
  border: none;
}

.footer {
  position: absolute;
  background-color: black;
  width: 100%;
  height: 50px;
  top: calc(100% - 50px);
  left: 0;
  border: none;
}

.logo {
  display: flex;
	height: 70px;
  width: 136px;
}

.all {
  width: calc(100% - 136px);
  display: flex;
  flex-direction: row;
}

.avatar {
  margin-top: 10px;
	height: 50px;
  display: flex;
  margin-left: auto;
}

.management {
	color: white;
	margin-top: 27px;
  margin-right: 20px;
}

.logout {
	color: white;
	margin-top: 27px;
  margin-right: 20px;
}

.inscriptions {
  display: flex;
  margin-left: 20px;
}

/*---------search bar-----------*/
.search {
	border-radius: 5px;
	margin-top: 20px;
}

/*----------categories--------*/

.categories {
	margin-top: 20px;
	height: 420px;
	width: 180px;
}


/*-------ABILITY-------*/
#moreability {
  display: none;
  color: white;
}

#btnability {
  position: absolute;
  margin-top: 15px;
  color: white;
}

.ability {
  position: absolute;
  margin-left: 12px;
  margin-top: 15px;
  color: white;
}

.abilitydiv {
  position: absolute;
  margin-left: 20px;
} 

/*--------ALLY---------*/
#moreally {
  display: none;
  color: white;
}

#btnally {
  position: absolute;
  margin-top: 60px;
  color: white;
}

.ally {
  position: absolute;
  margin-top: 60px;
  margin-left: 12px;
  color: white;
}

.allydiv {
  position: absolute;
  margin-top: 10px;
  margin-left: 20px;
}

#btnally:hover, .ally:hover {
	color: white;
}

/*-------EQUIPMENT---------*/

#moreequipment {
  display: none;
  color: white;
}

#btnequipment {
  position: absolute;
  margin-top: 120px;
  color: white;
}

.equipment {
  position: absolute;
  margin-top: 120px;
  margin-left: 12px;
  color: white;
}

.equipmentdiv {
  position: absolute;
  margin-top: 10px;
  margin-left: 20px;
  display: flex;
  flex-direction: row;
}

#btnequipment:hover, .equipment:hover {
	color: white;
}

/*-------HERO---------*/

#morehero {
  display: none;
  color: white;
}

#btnhero {
  position: absolute;
  margin-top: 180px;
  color: white;
}

.hero {
  position: absolute;
  margin-top: 180px;
  margin-left: 12px;
  color: white;
}

.herodiv {
  position: absolute;
  margin-top: 10px;
  margin-left: 20px;
}

#btnhero:hover, .hero:hover {
	color: white;
}

/*-------LOCATION---------*/

#morelocation {
  display: none;
  color: white;
}

#btnlocation {
  position: absolute;
  margin-top: 240px;
  color: white;
}

.location {
  position: absolute;
  margin-top: 240px;
  margin-left: 12px;
  color: white;
}

.locationdiv {
  position: absolute;
  margin-top: 10px;
  margin-left: 20px;
}

#btnlocation:hover, .location:hover {
	color: white;
}

/*-------MASTER---------*/

#moremaster {
  display: none;
  color: white;
}

#btnmaster {
  position: absolute;
  margin-top: 300px;
  color: white;
}

.master {
  position: absolute;
  margin-top: 300px;
  margin-left: 12px;
  color: white;
}

.masterdiv {
  position: absolute;
  margin-top: 10px;
  margin-left: 20px;
}

#btnmaster:hover, .master:hover {
	color: white;
}

/*-------QUEST---------*/

#morequest {
  display: none;
  color: white;
}

#btnquest {
  position: absolute;
  color: white;
  margin-top: 360px;
}

.quest {
  position: absolute;
  margin-top: 360px;
  margin-left: 12px;
  color: white;
}

.questdiv {
  position: absolute;
  margin-top: 10px;
  margin-left: 20px;
}

#btnquest:hover, .quest:hover {
	color: white;
}
