.main {
  position: absolute;
  height: calc(100% - 50px);
  top: 0;
  width: 100%;
  left: 0;
  border: none;
}

.footer {
  position: absolute;
  background-color: black;
  width: 100%;
  height: 50px;
  top: calc(100% - 50px);
  left: 0;
  border: none;
}

.logo {
  margin-left: 41%;
  margin-top: 10%;
}

#login {
  font-family: DejaVu Sans Mono, monospace;
  font-size: 30px;
  text-align: center;
}

#passwd {
  font-family: DejaVu Sans Mono, monospace;
  font-size: 30px;
  text-align: center;
  margin-top: 1%;
}

.login {
  background-color: black;
  color: white;
  margin-left: 43%;
  width: 200px;
  height: 20px;
  resize: none;
  white-space: nowrap;
  border-radius: 5px;
  overflow: hidden;
}

.passwd {
  position: absolute;
  background-color: black;
  color: white;
  margin-left: 43.8%;
  width: 200px;
  height: 20px;
  resize: none;
  border-radius: 5px;
  white-space: nowrap;
}

.register {
  position: absolute;
  font-family: DejaVu Sans Mono, monospace;
  font-size: 17px;
  font-weight: bold;
  margin-left: 43%;
  width: 85px;
  margin-top: 4%;
}

.submit {
  position: absolute;
  background-color: black;
    border-radius: 5px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    margin-left: 52%;
    margin-top: 3.5%;
}

.container {
  margin-top: 1%;
  margin-left: 96%;
    display: inline-block;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}


body {
  background-image: url(images/background-menu.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
    background-attachment: fixed;
}
