.header {
	position: absolute;
	background-color: black;
	height: 70px;
	left: 0;
	width: 100%;
	top: 0;
	border: none;
  display: flex;
  flex-direction: row;
}

.main {
  position: absolute;
  background-image: url("images/background-profile.jpeg");
  bottom: 50px;
  top: 70px;
  width: 100%;
  left: 0;
  border: none;
  overflow: auto;
  display: flex;
}

.footer {
  position: absolute;
  background-color: black;
  width: 100%;
  height: 50px;
  top: calc(100% - 50px);
  left: 0;
  border: none;
}

.logo {
  display: flex;
	height: 70px;
  width: 136px;
}

.all {
  width: calc(100% - 136px);
  display: flex;
  flex-direction: row;
}

.avatar {
  margin-top: 10px;
	height: 50px;
  display: flex;
  margin-left: auto;
}

.management {
	color: white;
	margin-top: 27px;
  margin-right: 20px;
}

.logout {
	color: white;
	margin-top: 27px;
  margin-right: 20px;
}

.inscriptions {
  display: flex;
  margin-left: 20px;
}

.container {
  width: 200px;
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.container div {
  margin: 10px;
}

/*---------search bar-----------*/
.search {
  border-radius: 5px;
  margin-top: 20px;
  margin-left: 5px;
  width: 170px;
}

/*----------categories--------*/
#leftMenu {
  width: 8%;
  min-width: 150px;
  top: 7%;
}

#leftMenu > details > summary{
  color: white;
  cursor: pointer;
  margin: 6px;
  padding: 8px;
}

#leftMenu > details > summary:hover{
  background: grey;
  width: 100px;
}

#leftMenu > details > a{
  display:block;
  text-decoration: none;
  color: white;
  font-size:13px;
  margin:3px 6px 3px 18px;
  padding: 4px;
}

#leftMenu > details > a:hover{
  background: grey;
  font-weight: bold;
  width: 95px;
}

#leftMenu > details > a:before{
  content: "- ";
}

.cards {
  background-image: url("images/paper.jpeg");
  margin: 10px;
  flex-grow: 1;
}
