.categories {
}


/*-------ABILITY-------*/
#moreability {
  display: none;
}

#btnability {
  position: absolute;
  margin-top: 15px;
}

.ability {
  position: absolute;
  margin-left: 12px;
}

.abilitydiv {
  position: absolute;
} 


/*--------ALLY---------*/
#moreally {
  display: none;
}

#btnally {
  position: absolute;
  margin-top: 60px;
}

.ally {
  position: absolute;
  margin-top: 60px;
  margin-left: 12px;
}

.allydiv {
  position: absolute;
  margin-top: 10px;
}

/*-------EQUIPMENT---------*/
#moreequipment {
  display: none;
}

#btnequipment {
  position: absolute;
  margin-top: 120px;
}

.equipment {
  position: absolute;
  margin-top: 120px;
  margin-left: 12px;
}

.equipmentdiv {
  position: absolute;
  margin-top: 10px;
}

/*-------HERO---------*/
#morehero {
  display: none;
}

#btnhero {
  position: absolute;
  margin-top: 180px;
}

.hero {
  position: absolute;
  margin-top: 180px;
  margin-left: 12px;
}

.herodiv {
  position: absolute;
  margin-top: 10px;
}

/*-------LOCATION---------*/
#morelocation {
  display: none;
}

#btnlocation {
  position: absolute;
  margin-top: 240px;
}

.location {
  position: absolute;
  margin-top: 240px;
  margin-left: 12px;
}

.locationdiv {
  position: absolute;
  margin-top: 10px;
}

/*-------MASTER---------*/
#moremaster {
  display: none;
}

#btnmaster {
  position: absolute;
  margin-top: 300px;
}

.master {
  position: absolute;
  margin-top: 300px;
  margin-left: 12px;
}

.masterdiv {
  position: absolute;
  margin-top: 10px;
}

/*-------QUEST---------*/
#morequest {
  display: none;
}

#btnquest {
  position: absolute;
  margin-top: 360px;
}

.quest {
  position: absolute;
  margin-top: 360px;
  margin-left: 12px;
}

.questdiv {
  position: absolute;
  margin-top: 10px;
}
